.header{
    background-color: black;
    color: white;
    height: 100px;
    width: auto;
    padding: 10px;
    margin: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}